@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?8qci41");
  src: url("../fonts/icomoon.eot?8qci41#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8qci41") format("truetype"), url("../fonts/icomoon.woff?8qci41") format("woff"), url("../fonts/icomoon.svg?8qci41#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
  content: "\e903";
}

.icon-send:before {
  content: "\e903";
}

.icon-flight:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e903";
}

.icon-x:before {
  content: "\e902";
}

.icon-mouse:before {
  content: "\e904";
}

.icon-phone_in_talk:before {
  content: "\e900";
}

.icon-star:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e986";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-linkedin2:before {
  content: "\eaca";
}

body {
  margin: 0;
  font-family: "Poppins", "sans-serif";
  letter-spacing: 0.4px;
  color: #333645;
}

* {
  box-sizing: border-box;
}

.container {
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

header .container {
  display: flex;
  align-items: center;
  min-height: 110px;
}
header .container img {
  display: inline-block;
}
header .container .btn-support {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #4183d7;
  line-height: 30px;
  text-transform: uppercase;
}
header .container .btn-support:hover {
  background-color: rgb(44.2608695652, 117.2913043478, 210.2391304348);
}
header .container .btn-contact {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #999aa2;
  line-height: 30px;
  text-transform: uppercase;
}
header .container .btn-contact:hover {
  background-color: rgb(139.6615384615, 140.7923076923, 149.8384615385);
}

.main-nav li {
  display: none;
  padding-inline: 10px;
}
@media (min-width: 992px) {
  .main-nav li {
    display: inline-block;
  }
}

nav {
  background-color: #323544;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-image: url(../img/hero-image.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-image > * {
  position: relative;
  z-index: 1;
}
.hero-text {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  .hero-text {
    text-align: left;
    font-size: 2.5rem;
  }
}
.hero-text p {
  font-size: 1.5rem;
}

.btn-banner {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #926fb1;
  line-height: 30px;
  text-transform: uppercase;
}
.btn-banner:hover {
  background-color: rgb(133.4797297297, 94.4594594595, 168.0405405405);
}

.services-item {
  border: #ccc solid 1px;
}
.services a {
  padding-inline: 15px;
}

.services-header {
  display: flex;
  align-items: center;
}
.services-header h2 {
  font-size: 2.75rem;
}
.services-header a {
  display: none;
  color: #333645;
  text-decoration: none;
  font-size: 1.5rem;
}
.services-header a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .services-header a {
    display: inline-block;
    margin-left: auto;
    font-size: 2.25rem;
  }
}

.slider-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  overflow-x: hidden;
  padding-block: 50px;
}

.partner-logo {
  max-height: 100%;
  margin-inline: 50px;
  filter: grayscale(100%);
}
.partner-logo:hover {
  filter: grayscale(0%);
}

.about {
  background-color: #323544;
  color: #fff;
  line-height: 30px;
}
.about-title {
  font-size: 2.25rem;
}
.about .container {
  padding-block: 50px;
}
@media (min-width: 992px) {
  .about .container {
    display: flex;
  }
}
.about p a {
  color: #fff;
  text-decoration: none;
}
.about p a:hover {
  text-decoration: underline;
}

.row {
  padding-inline: 15px;
}
@media (min-width: 992px) {
  .row {
    width: 50%;
  }
}

.quote {
  font-style: italic;
  font-weight: bold;
  font-size: 1.3rem;
}
.quote-author {
  color: rgb(178.5, 178.5, 178.5);
  font-size: 1.125rem;
}

.icon-star {
  color: orange;
  font-size: 3.125rem;
}

.btn-about {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #272936;
  line-height: 30px;
  text-transform: uppercase;
  margin: 10px 10px 0px 0px;
}
.btn-about:hover {
  background-color: rgb(28.3064516129, 29.7580645161, 39.1935483871);
}

.btn-google-reviews {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #4387f6;
  line-height: 30px;
  text-transform: uppercase;
  margin: 10px 10px 0px 0px;
}
.btn-google-reviews:hover {
  background-color: rgb(42.6649746193, 119.4670050761, 244.8350253807);
}

.btn-trustpilot-reviews {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #00b67b;
  line-height: 30px;
  text-transform: uppercase;
  margin: 10px 10px 0px 0px;
}
.btn-trustpilot-reviews:hover {
  background-color: rgb(0, 156.5, 105.7664835165);
}

.news-header {
  display: flex;
  align-items: center;
}
.news-header h2 {
  font-size: 2rem;
}
.news-header a {
  display: none;
  color: #333645;
  text-decoration: none;
  font-size: 1.5rem;
}
.news-header a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .news-header a {
    display: inline-block;
    margin-left: auto;
  }
}
.news-flex-container {
  display: block;
}
@media (min-width: 768px) {
  .news-flex-container {
    display: flex;
  }
}
.news-article {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.news-article .btn-news-yellow {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #f7b322;
  line-height: 35px;
  text-transform: uppercase;
}
.news-article .btn-news-red {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #ce4125;
  line-height: 35px;
  text-transform: uppercase;
}
.news-article .btn-news-blue {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #4183d7;
  line-height: 35px;
  text-transform: uppercase;
}
.news-spacing {
  padding: 30px 15px 0px;
  transition: transform 0.5s ease;
}
.news-spacing:hover {
  transform: translateY(-10px);
}
@media (min-width: 768px) {
  .news-spacing {
    flex: 1;
  }
}
@media (min-width: 768px) and (max-width: 1260px) {
  .news-spacing-hide {
    display: none;
  }
}
.news-footer a {
  display: block;
  width: max-content;
  margin: auto;
  color: #333645;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 50px;
}
.news-footer a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .news-footer a {
    display: none;
  }
}

.news-details {
  border: #ccc solid 1px;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 30px;
}
.news-details h3, .news-details p {
  font-size: 1rem;
}
.news-details .text-small {
  font-size: 0.8125rem;
  color: rgb(105.1875, 111.375, 142.3125);
}
.news-details hr {
  margin-block: 30px;
}
.news-thumbnail {
  display: block;
  width: 100%;
}
.news-author p {
  margin: 0px;
}

.posted-by {
  display: flex;
  align-items: center;
}
.posted-by--logo-img {
  padding-right: 20px;
}

footer {
  background-color: #323544;
  padding: 30px 15px 0px;
  position: relative;
}
footer h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
}
footer a:hover {
  text-decoration: underline;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
footer .footer-row .footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
    width: 200px;
  }
}
footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-bottom {
  background-color: #212330;
  font-size: 0.8125rem;
  padding-inline: 15px;
}
.footer-bottom a {
  color: #fff;
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}

footer, .footer-bottom {
  color: #fff;
}
@media (min-width: 1260px) {
  footer .container, .footer-bottom .container {
    display: flex;
  }
}

#footer-logo {
  width: 320px;
}

/*# sourceMappingURL=styles.css.map */
