@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?1qjut1");
  src: url("../fonts/icomoon.eot?1qjut1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?1qjut1") format("truetype"), url("../fonts/icomoon.woff?1qjut1") format("woff"), url("../fonts/icomoon.svg?1qjut1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e908";
}

.icon-paperplane:before {
  content: "\e903";
}

.icon-send:before {
  content: "\e903";
}

.icon-flight:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e903";
}

.icon-trending-up:before {
  content: "\e909";
}

.icon-science:before {
  content: "\e90a";
}

.icon-security:before {
  content: "\e907";
}

.icon-mouse:before {
  content: "\e904";
}

.icon-phone_in_talk:before {
  content: "\e900";
}

.icon-envelope:before {
  content: "\e90b";
}

.icon-education:before {
  content: "\e905";
}

.icon-bar-graph:before {
  content: "\e906";
}

.icon-x:before {
  content: "\e902";
}

.icon-group:before {
  content: "\e90c";
}

.icon-users:before {
  content: "\e90c";
}

.icon-handshake-o:before {
  content: "\e90d";
}

.icon-star:before {
  content: "\e901";
}

.icon-pencil:before {
  content: "\e90e";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-paste:before {
  content: "\e92d";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-coin-pound:before {
  content: "\e93d";
}

.icon-phone:before {
  content: "\e942";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-display:before {
  content: "\e956";
}

.icon-laptop:before {
  content: "\e957";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-database:before {
  content: "\e964";
}

.icon-search:before {
  content: "\e986";
}

.icon-cogs:before {
  content: "\e995";
}

.icon-meter:before {
  content: "\e9a6";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-cloud-download:before {
  content: "\e9c2";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-question:before {
  content: "\ea09";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-tab:before {
  content: "\ea45";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.news-article .read-more-btn, .services-item .read-more-btn {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  line-height: 35px;
  text-transform: uppercase;
}

.btn-trustpilot, .btn-google, .btn-about, .btn-banner, header .btn-search, header .btn-contact, header .btn-support {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.btn-trustpilot, .btn-google, .btn-about {
  margin: 10px 10px 0px 0px;
  border-radius: 6px;
}

.btn-instagram, .btn-x, .btn-linkedin, .btn-facebook {
  background-color: #272936;
  color: #fff;
  font-size: 26px;
  padding: 12px 22px 16px;
  margin: 0 10px 10px 0;
}

.news-footer a, .news-header a, .services-footer a, .services-header a, header .phone-link {
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.news-footer a:hover, .news-header a:hover, .services-footer a:hover, .services-header a:hover, header .phone-link:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: "Poppins", "sans-serif";
  letter-spacing: 0.4px;
  color: #333645;
}

* {
  box-sizing: border-box;
}

.container {
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: normal;
}

.header-top {
  display: flex;
  align-items: center;
  height: 81px;
}
@media (min-width: 768px) {
  .header-top {
    height: 110px;
  }
}
.header-top img {
  display: block;
  max-width: 75%;
}
.header-top .search-items {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 56px;
}
.header-top .search-items > * {
  margin-left: 20px;
}

.search-section {
  display: none;
}
@media (min-width: 768px) {
  .search-section {
    display: flex;
    height: 100%;
  }
}

header {
  padding-inline: 15px;
}
header .btn-support {
  background-color: #4183D7;
  display: none;
  height: 100%;
  padding-inline: 15px;
  font-size: 1.125rem;
}
header .btn-support:hover {
  background-color: rgb(44.2608695652, 117.2913043478, 210.2391304348);
}
@media (min-width: 992px) {
  header .btn-support {
    display: inline-flex;
  }
}
header .btn-contact {
  background-color: #999aa2;
  display: none;
  height: 100%;
  padding-inline: 15px;
  font-size: 1.125rem;
  justify-content: center;
}
header .btn-contact:hover {
  background-color: rgb(139.6615384615, 140.7923076923, 149.8384615385);
}
@media (min-width: 992px) {
  header .btn-contact {
    display: inline-flex;
  }
}
header .btn-search {
  background-color: #999aa2;
  display: none;
  height: 100%;
  padding-inline: 15px;
  font-size: 1.125rem;
  justify-content: center;
}
header .btn-search:hover {
  background-color: rgb(139.6615384615, 140.7923076923, 149.8384615385);
}
@media (min-width: 768px) {
  header .btn-search {
    display: inline-flex;
  }
}
header .phone-link {
  font-size: 32px;
}
@media (min-width: 768px) {
  header .phone-link {
    display: none;
  }
}
header .square-btn {
  width: 56px;
  margin-left: auto;
}
header .mobile-search-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  height: 47px;
  margin-block: 20px;
}
@media (min-width: 768px) {
  header .mobile-search-bar {
    display: none;
  }
}
header .mobile-search-bar .icon-search {
  padding: 11px;
  font-size: 20px;
}
header .mobile-search-bar input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
}
header .desktop-search-bar {
  display: none;
}
@media (min-width: 768px) and (max-width: 992px), (min-width: 1260px) {
  header .desktop-search-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .desktop-search-bar {
    width: 174px;
  }
}
@media (min-width: 1260px) {
  header .desktop-search-bar {
    width: 240px;
  }
}
header .desktop-search-bar .icon-search {
  padding: 11px;
  font-size: 20px;
  background-color: gray;
}
header .desktop-search-bar input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  font-size: 0.875rem;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272936;
  height: 100%;
  width: 56px;
  border-radius: 3px;
}

.menu-toggle {
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transition: 0.3s;
}

/* The magic happens here */
nav {
  background-color: #323544;
  color: #fff;
}

.nav-bar {
  display: none;
}
@media (min-width: 992px) {
  .nav-bar {
    display: flex;
  }
}
.nav-bar .nav-category {
  flex: 1;
}
.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 18px;
  color: #fff;
  position: relative;
}
.nav-button .small {
  font-size: 0.625rem;
  margin-bottom: -5px;
}
.nav-button span[class^=icon-] {
  font-size: 23px;
  padding-bottom: 8px;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100vw;
  left: 0;
}
.nav-dropdown h2 {
  font-size: 2rem;
}
.nav-dropdown .container {
  padding-block: 50px;
}
.nav-link-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 65px;
  font-size: 1.2rem;
}
.nav-link-grid li {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 0px;
}
.nav-link-grid li a {
  margin-left: 10px;
}
.nav-category:hover .nav-dropdown, .nav-category:hover .triangle {
  display: block;
}
.nav-bar .triangle {
  display: none;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 47px 69px 0 69px;
  transform: rotate(0deg);
  position: absolute;
  bottom: -47px;
  z-index: 11;
}
@media (min-width: 1260px) {
  .nav-bar .triangle {
    border-width: 47px 85.5px 0 85.5px;
  }
}
.nav-bar .theme-gray .theme {
  color: #67809F;
}
.nav-bar .theme-gray .triangle {
  border-color: #67809F transparent transparent transparent;
}
.nav-bar .theme-gray:hover {
  background-color: #67809F;
}
.nav-bar .theme-gray:hover .theme {
  color: #fff;
}
.nav-bar .theme-gray .nav-dropdown {
  background-color: rgb(81.6774193548, 102.9475806452, 129.3225806452);
}
.nav-bar .theme-yellow .theme {
  color: #F7B322;
}
.nav-bar .theme-yellow .triangle {
  border-color: #F7B322 transparent transparent transparent;
}
.nav-bar .theme-yellow:hover {
  background-color: #F7B322;
}
.nav-bar .theme-yellow:hover .theme {
  color: #fff;
}
.nav-bar .theme-yellow .nav-dropdown {
  background-color: rgb(221.9650655022, 153.6681222707, 8.0349344978);
}
.nav-bar .theme-blue .theme {
  color: #4183D7;
}
.nav-bar .theme-blue .triangle {
  border-color: #4183D7 transparent transparent transparent;
}
.nav-bar .theme-blue:hover {
  background-color: #4183D7;
}
.nav-bar .theme-blue:hover .theme {
  color: #fff;
}
.nav-bar .theme-blue .nav-dropdown {
  background-color: rgb(39.8260869565, 105.5391304348, 189.1739130435);
}
.nav-bar .theme-green .theme {
  color: red;
}
.nav-bar .theme-green .triangle {
  border-color: red transparent transparent transparent;
}
.nav-bar .theme-green:hover {
  background-color: red;
}
.nav-bar .theme-green:hover .theme {
  color: #fff;
}
.nav-bar .theme-green .nav-dropdown {
  background-color: #cc0000;
}
.nav-bar .theme-red .theme {
  color: #D64541;
}
.nav-bar .theme-red .triangle {
  border-color: #D64541 transparent transparent transparent;
}
.nav-bar .theme-red:hover {
  background-color: #D64541;
}
.nav-bar .theme-red:hover .theme {
  color: #fff;
}
.nav-bar .theme-red .nav-dropdown {
  background-color: rgb(187.5324675325, 44.4155844156, 40.4675324675);
}
.nav-bar .theme-purple .theme {
  color: #926FB1;
}
.nav-bar .theme-purple .triangle {
  border-color: #926FB1 transparent transparent transparent;
}
.nav-bar .theme-purple:hover {
  background-color: #926FB1;
}
.nav-bar .theme-purple:hover .theme {
  color: #fff;
}
.nav-bar .theme-purple .nav-dropdown {
  background-color: rgb(120.6351351351, 83.2702702703, 153.7297297297);
}
.nav-bar .theme-crimson .theme {
  color: #F62459;
}
.nav-bar .theme-crimson .triangle {
  border-color: #F62459 transparent transparent transparent;
}
.nav-bar .theme-crimson:hover {
  background-color: #F62459;
}
.nav-bar .theme-crimson:hover .theme {
  color: #fff;
}
.nav-bar .theme-crimson .nav-dropdown {
  background-color: rgb(221.8815789474, 9.1184210526, 62.8157894737);
}

.hero-image {
  display: flex;
  justify-content: center;
  height: 550px;
  background-image: url(../img/hero-image.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000);
}
.hero-image > * {
  z-index: 1;
}
.hero-text {
  color: #fff;
  text-align: center;
}
.hero-text h1 {
  font-size: 2.5rem;
  margin-block: 75px 0px;
}
.hero-text p {
  font-size: 1.25rem;
  font-weight: bold;
}
@media (min-width: 992px) {
  .hero-text {
    text-align: left;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-text p {
    font-size: 1.5rem;
  }
}
.hero-text p {
  font-size: 1.5rem;
}

.btn-banner {
  background-color: #926fb1;
}
.btn-banner:hover {
  background-color: rgb(133.4797297297, 94.4594594595, 168.0405405405);
}

.services-item {
  transition: transform 0.5s ease;
}
.services-item .theme-gray .theme, .services-item .theme-gray .theme-btn {
  background-color: #67809F;
}
.services-item .theme-gray:hover {
  background-color: #67809F;
  color: #fff;
}
.services-item .theme-gray:hover .theme, .services-item .theme-gray:hover .theme-btn {
  background-color: #fff;
  color: #67809F;
}
.services-item .theme-yellow .theme {
  background-color: #67809F;
}
.services-item .theme-yellow .theme-btn {
  background-color: #F7B322;
}
.services-item .theme-yellow:hover {
  background-color: #67809F;
  color: #fff;
}
.services-item .theme-yellow:hover .theme, .services-item .theme-yellow:hover .theme-btn {
  background-color: #fff;
  color: #67809F;
}
.services-item .theme-blue .theme, .services-item .theme-blue .theme-btn {
  background-color: #4183D7;
}
.services-item .theme-blue:hover {
  background-color: #4183D7;
  color: #fff;
}
.services-item .theme-blue:hover .theme, .services-item .theme-blue:hover .theme-btn {
  background-color: #fff;
  color: #4183D7;
}
.services-item .theme-green .theme, .services-item .theme-green .theme-btn {
  background-color: red;
}
.services-item .theme-green:hover {
  background-color: red;
  color: #fff;
}
.services-item .theme-green:hover .theme, .services-item .theme-green:hover .theme-btn {
  background-color: #fff;
  color: red;
}
.services-item .theme-red .theme, .services-item .theme-red .theme-btn {
  background-color: #D64541;
}
.services-item .theme-red:hover {
  background-color: #D64541;
  color: #fff;
}
.services-item .theme-red:hover .theme, .services-item .theme-red:hover .theme-btn {
  background-color: #fff;
  color: #D64541;
}
.services-item .theme-purple .theme, .services-item .theme-purple .theme-btn {
  background-color: #926FB1;
}
.services-item .theme-purple:hover {
  background-color: #926FB1;
  color: #fff;
}
.services-item .theme-purple:hover .theme, .services-item .theme-purple:hover .theme-btn {
  background-color: #fff;
  color: #926FB1;
}
.services-item .theme-crimson .theme, .services-item .theme-crimson .theme-btn {
  background-color: #F62459;
}
.services-item .theme-crimson:hover {
  background-color: #F62459;
  color: #fff;
}
.services-item .theme-crimson:hover .theme, .services-item .theme-crimson:hover .theme-btn {
  background-color: #fff;
  color: #F62459;
}
.services-item a {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-decoration: none;
  text-align: center;
  color: #333645;
  border: #ccc solid 1px;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1260px) {
  .services-item a {
    height: 328px;
  }
  .services-item a .read-more-btn {
    margin-top: auto;
  }
}
.services-item h3 {
  font-size: 1.25rem;
  font-weight: 400;
}
.services-item p {
  font-size: 0.8125rem;
}
.services-item [class^=icon-] {
  font-size: 32px;
  color: #fff;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-item:hover {
  transform: translateY(-10px);
}

.services-header {
  display: flex;
  align-items: center;
}
.services-header h2 {
  font-size: 2.75rem;
}
.services-header a {
  display: none;
}
@media (min-width: 768px) {
  .services-header a {
    display: block;
    margin-left: auto;
    font-size: 2.25rem;
  }
}
.services-item {
  padding: 30px 15px 0px;
}
@media (min-width: 992px) {
  .services-section-primary {
    display: flex;
  }
  .services-section-primary .services-item {
    flex: 1;
  }
}
@media (min-width: 768px) {
  .services-section-secondary {
    display: flex;
    flex-wrap: wrap;
  }
  .services-section-secondary .services-item {
    flex: 50%;
  }
}
@media (min-width: 1260px) {
  .services-section-secondary .services-item {
    flex: 25%;
  }
}
.services-footer a {
  display: block;
  width: max-content;
  margin: 50px auto 0;
}
@media (min-width: 768px) {
  .services-footer a {
    display: none;
  }
}

.slider-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  overflow-x: hidden;
  padding-block: 50px;
}

.partner-logo {
  max-height: 100%;
  margin-inline: 50px;
  filter: grayscale(100%);
}
.partner-logo:hover {
  filter: grayscale(0%);
}

.about {
  background-color: #323544;
  color: #fff;
  line-height: 30px;
}
.about-title {
  font-size: 2.25rem;
  margin-top: 0px;
}
.about .container {
  padding-block: 50px;
}
@media (min-width: 992px) {
  .about .container {
    display: flex;
  }
}
.about p {
  margin-block: 12px;
}
.about p a {
  color: #fff;
  text-decoration: none;
}
.about p a:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
}
@media (min-width: 992px) {
  .row {
    width: 50%;
  }
}
.row-btn, .row-btn-top {
  margin-top: auto;
}
.row-btn-top, .row-btn-top-top {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .row-btn-top, .row-btn-top-top {
    margin-bottom: 0px;
  }
}

.quote {
  font-style: italic;
  font-weight: bold;
  font-size: 1.3rem;
}
.quote-author {
  color: rgb(178.5, 178.5, 178.5);
  font-size: 1.125rem;
}

.icon-star {
  color: orange;
  font-size: 3.125rem;
}

.btn-about {
  background-color: #272936;
}
.btn-about:hover {
  background-color: rgb(28.3064516129, 29.7580645161, 39.1935483871);
}

.btn-google {
  background-color: #4387f6;
}
.btn-google:hover {
  background-color: rgb(42.6649746193, 119.4670050761, 244.8350253807);
}

.btn-trustpilot {
  background-color: #00b67b;
}
.btn-trustpilot:hover {
  background-color: rgb(0, 156.5, 105.7664835165);
}

.news-header {
  display: flex;
  align-items: center;
}
.news-header h2 {
  font-size: 2rem;
}
.news-header a {
  display: none;
}
@media (min-width: 768px) {
  .news-header a {
    display: block;
    margin-left: auto;
  }
}
.news-flex-container {
  display: block;
}
@media (min-width: 768px) {
  .news-flex-container {
    display: flex;
  }
}
.news-article {
  display: block;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  position: relative;
}
.news-spacing {
  padding: 30px 15px 0px;
  transition: transform 0.5s ease;
}
.news-spacing:hover {
  transform: translateY(-10px);
}
@media (min-width: 768px) {
  .news-spacing {
    flex: 1;
  }
}
@media (min-width: 768px) and (max-width: 1260px) {
  .news-spacing-hide {
    display: none;
  }
}
.news-footer a {
  display: block;
  width: max-content;
  margin: 50px auto 0;
}
@media (min-width: 768px) {
  .news-footer a {
    display: none;
  }
}

.news-spacing .theme-gray .theme, .news-spacing .theme-gray .theme-btn {
  background-color: #67809F;
}
.news-spacing .theme-gray h3 {
  color: #67809F;
}
.news-spacing .theme-yellow .theme {
  background-color: #67809F;
}
.news-spacing .theme-yellow .theme-btn {
  background-color: #F7B322;
}
.news-spacing .theme-yellow h3 {
  color: #67809F;
}
.news-spacing .theme-blue .theme, .news-spacing .theme-blue .theme-btn {
  background-color: #4183D7;
}
.news-spacing .theme-blue h3 {
  color: #4183D7;
}
.news-spacing .theme-green .theme, .news-spacing .theme-green .theme-btn {
  background-color: red;
}
.news-spacing .theme-green h3 {
  color: red;
}
.news-spacing .theme-red .theme, .news-spacing .theme-red .theme-btn {
  background-color: #D64541;
}
.news-spacing .theme-red h3 {
  color: #D64541;
}
.news-spacing .theme-purple .theme, .news-spacing .theme-purple .theme-btn {
  background-color: #926FB1;
}
.news-spacing .theme-purple h3 {
  color: #926FB1;
}
.news-spacing .theme-crimson .theme, .news-spacing .theme-crimson .theme-btn {
  background-color: #F62459;
}
.news-spacing .theme-crimson h3 {
  color: #F62459;
}
.news-details {
  border: #ccc solid 1px;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 30px;
}
.news-details h3, .news-details p {
  font-size: 1rem;
}
.news-details .text-small {
  font-size: 0.8125rem;
  color: rgb(105.1875, 111.375, 142.3125);
}
.news-details hr {
  margin-block: 30px;
}
.news-thumbnail {
  display: block;
  width: 100%;
}
.news-author p {
  margin: 0px;
}
.news-link {
  color: #fff;
  position: absolute;
  text-decoration: none;
  font-size: 0.8125rem;
  padding: 2px 10px;
  right: 0;
  top: 10px;
  background-color: #67809f;
}

.posted-by {
  display: flex;
  align-items: center;
}
.posted-by--logo-img {
  padding-right: 20px;
}

footer {
  background-color: #323544;
  padding: 30px 15px 0px;
  position: relative;
}
footer h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}
footer li a {
  font-size: 0.8125rem;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
footer .footer-row .footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
    width: 200px;
  }
}

.footer-bottom {
  background-color: #272936;
  font-size: 0.8125rem;
  padding-inline: 15px;
}
.footer-bottom a {
  color: #fff;
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}

footer, .footer-bottom {
  color: #fff;
}
@media (min-width: 1260px) {
  footer .container, .footer-bottom .container {
    display: flex;
  }
}

#footer-logo {
  width: 320px;
}

.btn-facebook:hover {
  background-color: #3b5998;
}

.btn-linkedin:hover {
  background-color: #0077b5;
}

.btn-x:hover {
  background-color: #00aced;
}

.btn-instagram:hover {
  background-color: #d93175;
}

/*# sourceMappingURL=styles.css.map */
