// =========
// VARIABLES
// =========

// Break Points

$break-point-small: 768px;
$break-point-medium: 992px;
$break-point-large: 1260px;

// Colors

$color-base: #323544;
$color-base-dark: #272936;
$color-light-text: #fff;
$color-dark-text: #333645;

$theme: (
    "gray": #67809F,
    "yellow": #F7B322,
    "blue": #4183D7,
    "green": #2ECC71,
    "red": #D64541,
    "purple": #926FB1,
    "crimson": #F62459,
);

$btn-theme: (
    "general": $color-base-dark,
    "trustpilot": #00B67B,
    "google": #4387F6,
    "light-gray": #999AA2,
    "gray": #67809F,
    "yellow": #F7B322,
    "blue": #4183D7,
    "green": #2ECC71,
    "red": #D64541,
    "purple": #926FB1,
    "crimson": #F62459,
);

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins&display=swap');

// Banner Images URLs relative to the main css file (key values associate with class name ("img-[key]") found in html)

$banner-images: (
    "1": "../img/banner/hero-image.webp",
    "2": "../img/banner/home-O67Y.webp",
    "3": "../img/banner/home-gay8.webp",
    "4": "../img/banner/home-6yTp.webp",
    "5": "../img/banner/home-J8Xx.webp",
    "6": "../img/banner/home-K0pn.webp",
    "7": "../img/banner/home-MSxH.webp",
)
