// =========
// VARIABLES
// =========

// Break Points

$break-point-small: 768px;
$break-point-medium: 992px;
$break-point-large: 1260px;

// Colors

$color-base: #323544;
$color-light-text: #fff;

// Font

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');