.about {
    background-color: $color-base;
    padding-inline:50px;
    color: $color-light-text
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $break-point-medium) {
    flex-direction: row;
    justify-content: space-between;
    }
}