.about {
  background-color: $color-base;
  color: $color-light-text;
  line-height: 30px;

  &-title {
    font-size: 2.25rem;
    margin-top: 0px;
  }

  .container {
    padding-block: 50px;

    @media (min-width: $break-point-medium) {
      display: flex;
    }
  }
  p {
    margin-block: 12px;
    
    a {
      color: $color-light-text;
      text-decoration: none;

      &:hover {
          text-decoration: underline;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  
  @media (min-width: $break-point-medium) {
    width: 50%;
  }

  &-btn {
    margin-top: auto;
  }
}

.quote {
  font-style: italic;
  font-weight: bold;
  font-size: 1.3rem;

  &-author {
    color: darken($color-light-text, 30%);
    font-size: 1.125rem;
  }
}

.icon-star {
  color: orange;
  font-size: 3.125rem;
}

@include about-btn($color-base-dark, "about") {
  margin: 10px 10px 0px 0px;
  
  &:hover {
    background-color: darken($color-base-dark, 5%);
  }
}

@include about-btn(#4387f6, "google-reviews") {
  margin: 10px 10px 0px 0px;

  &:hover {
    background-color: darken(#4387f6, 5%);
  }
}

@include about-btn(#00b67b, "trustpilot-reviews") {
  margin: 10px 10px 0px 0px;

  &:hover {
    background-color: darken(#00b67b, 5%);
  }
}

