@use "sass:color";
@use "../utilities/index" as *;
@use "../modules/index" as *;

// Layout of the whole news section

.news {

    &-header {
        display: flex;
        align-items: center;
        margin-inline: 15px;
        padding-top: 50px;

        & > * {
            margin: 0px;
        }

        h2 {
            font-size: 2.25rem;
        }

        a {
            display: none;
            @extend %view-more-link;
            
            @media (min-width: $break-point-small) {
                display: block;
                margin-left: auto;
            }
        }
    }

    &-flex-container {
        display: block;

        @media (min-width: $break-point-small) {
            display: flex;
        }
    }

    &-article {
        display: block;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
        position: relative;
        transition: transform 0.5s ease;
        &:hover {
            transform: translateY(-10px);
        }
    }

    &-spacing {
        padding: 30px 15px 0px;

        @media (min-width: $break-point-small) {
            flex: 1;
        }

        &-hide {
            @media (min-width: $break-point-small) and (max-width: $break-point-large) {
                display: none;
            }
        }
    }

    &-footer {
        a {
            display: block;
            width: max-content;
            margin: 50px auto 0;
            @extend %view-more-link;

            @media (min-width: $break-point-small) {
                display: none;
            }
        }
    }
}

// Layout of the individual article items

.news {
    &-spacing {
        .theme {
            @include news-tile-theme($theme);
        }
    }

    &-details {
        border: #ccc solid 1px;
        border-top: none;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 30px;

        h3, p {
            font-size: 1rem;
        }

        h3 {
            margin-top: 0px;
        }

        .text-small {
            font-size: 0.8125rem;
            color: color.adjust($color-dark-text, $lightness: 25%);
        }

        hr {
            margin-block: 30px;
            border-top: 1px color.adjust($color-dark-text, $lightness: 25%) solid;
            border-bottom: 0;
        }
    }

    &-article {
        .read-more-btn {
            @extend %btn-base;
            font-size: 1rem;
            padding: 10px 15px;
        }
        
        .aspect-container {
            aspect-ratio: 16 / 9;
            overflow: hidden;
            position: relative;
        }
    }


    &-thumbnail {
        width: 100%;
        display: block;
        position: absolute;
    }

    &-link {
        color: #fff;
        position: absolute;
        text-decoration: none;
        font-size: 0.8125rem;
        padding: 2px 10px;
        right: 0;
        top: 10px;
        background-color: #67809f;
        z-index: 1;
    }
}

.posted-by {
    display: flex;
    align-items: center;

    .news-author {
        padding-left: 20px;

        p {
            margin: 0px;
        }
    }

    &--logo-img {
        border-radius: 50%;
    }
}