@use "../utilities/index" as *;
@use "../modules/index" as *;

.banner-carousel {
    ul {
        position: absolute;
        bottom: 45px;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: fit-content;
        
        li {
            height: 27px;
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            button {
                background-color: rgba($color-light-text, 0.5);
                width: 11px;
                height: 11px;
                padding: 0;
                border: none;
                border-radius: 50%;
                font-size: 0;
                margin-inline: 10px;
                cursor: pointer;
            }
            
            &:hover button {
                background-color: #869791;
            }

            &.slick-active button {
                background-color: $color-light-text;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                // circle appears behind it

                &:before {
                    content: "";
                    position: absolute;
                    width: 19px;
                    height: 19px;
                    background: transparent;
                    border: 2px solid $color-light-text;
                    border-radius: 50%;
                }
            }
        }
    }
}

.hero {
    &-image {
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: -2;

        &.img-1.slick-current .container{
            height: 675px;

            @media (min-width: $break-point-small) {
                height: 550px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);

            @media (min-width: $break-point-medium) {
                background: linear-gradient(270deg,transparent 25%, rgba(0, 0, 0, 1));
            }
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 550px;
            transition: height 0.3s ease;

            @media (min-width: $break-point-medium) {
                justify-content: start;
            }
        }
        // easy application of different images on each sibling element

        &.img {
            @include banner-images();
        }
    }


    &-text {
        color: $color-light-text;
        text-align: center;
        padding-inline: 15px;
        
        h1 {
            font-size: 2.5rem;
            margin:0px;
        }
        p {
            font-size: 1.25rem;
            font-weight: bold;
        }

        [class^="btn"] {
            @extend %btn-base;
        }
        
        @media (min-width: $break-point-medium) {
            text-align: left;

            h1 {
            font-size: 4rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}