@use "sass:map";
@use "sass:color";
@use "../utilities/index" as *;
@use "../modules/index" as *;

.cookies {
    
    .consent-popup {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 4001;
        top: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .7);

        .content {
            background-color: #fff;
            width: calc(100% - 60px);
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

            p {
                padding: 20px;
                margin: 0px;
                line-height: 30px;
                border-block: #ccc solid 1px;

                a {
                    color: #333645;
                }
            }

            h3 {
                padding: 20px;
                margin: 0px;
                font-size: 1.625rem;
                font-weight: 400;
            }

            .consent-buttons {
                display: flex;
                flex-direction: column;
                padding: 20px;

            }

            [class^="btn"] {
                @extend %btn-base;
                width: 100%;
                justify-content: center;
                font-size: 1.125rem;

                &:first-child {
                    margin-bottom: 20px;
                }
            }

            @media (min-width: $break-point-small) {
                max-width: 598px;

                .consent-buttons {
                    flex-direction: row;
                }

                [class^="btn"] {
                    &:first-child {
                        margin: 0px 20px 0px 0px;
                    }
                }
            }
        }

        &.is-hidden {
            display: none;
        }
    }

    .manage {
        position: fixed;
        bottom: 0px;
        left: 0px;
        font-size: 0.8rem;
        color: $color-light-text;
        background-color: map.get($btn-theme, "light-gray");
        padding: 3px 7px;
        border-top-right-radius: 10px;
        cursor: pointer;
        z-index: 4000;
    
        &:hover {
            background-color: color.adjust(map.get($btn-theme, "light-gray"), $lightness: 10%);
        }
    }
}
