footer {
    background-color: $color-base;
    padding: 30px 0px 0px;
    position: relative;

    h4 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 26px;
    }

    a {
        color: $color-light-text;
        text-decoration: none;
        font-size: 0.8125rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        
        .footer-menu {
            flex: 100%;
            margin-bottom: 30px;

            @media (min-width: $break-point-small) {
                flex: 50%;
            }

            @media (min-width: $break-point-medium) {
                flex: 25%;
            }

            @media (min-width: $break-point-large) {
                margin-bottom: 40px;
            }
        }
    }
}

.footer-bottom {
    background-color: #212330;
    font-size: 0.8125rem;

    a {
        color: $color-light-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

footer, .footer-bottom {
    color: $color-light-text;

    .container {
        @media (min-width: $break-point-large) {
            display: flex;
        }
    }   
}

#footer-logo {
    width: 320px;
}