footer {
    background-color: $color-base;
    color: $color-light-text;
    padding: 30px 0px 0px;
    position: relative;

    h4 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 26px;
    }

    a {
        color: $color-light-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        
        .footer-menu {
            flex: 100%;
            margin-bottom: 30px;
            padding-inline: 15px;

            @media (min-width: $break-point-small) {
                flex: 50%;
            }

            @media (min-width: $break-point-medium) {
                flex: 25%;
            }

            @media (min-width: $break-point-large) {
                margin-bottom: 40px;
            }
        }
    }
}