header .container {
    display: flex;
    align-items: center;
    min-height: 110px;
    
    img {
        display: inline-block;
    }
    
    @include about-btn(#4183d7, "support") {
        &:hover {
            background-color: darken(#4183d7, 5%);
        }
    }

    @include about-btn(#999aa2, "contact") {
        &:hover {
            background-color: darken(#999aa2, 5%);
        }
    }
}

