.header {
    &-top {
        display: flex;
        align-items: center;
        height: 81px;
        
        @media (min-width: $break-point-small) {
            height: 110px;
        }

        img {
            display: block;
            min-width: 0px;
        }

        .search-items {
            display: flex;
            align-items: center;
            margin-left: auto;
            height: 56px;

            & > * {
                margin-left: 20px;
            }
        }
    }
}

.search-section {
    display: none;

    @media (min-width: $break-point-small) {
        display: flex;
        height: 100%;
    }
}

header {
    padding-inline: 15px;

    @include base-btn(map-get($theme, "blue"), "support") {
        display: none;
        @extend %btn-base;
        @extend %btn-header;

        @media (min-width: $break-point-medium) {
            display: inline-flex;
        }
    }

    @include base-btn(#999aa2, "contact") {
        display: none;
        @extend %btn-base;
        @extend %btn-header;

        @media (min-width: $break-point-medium) {
            display: inline-flex;
        }
    }

    @include base-btn(#999aa2, "search") {
        display: none;
        @extend %btn-base;
        @extend %btn-header;
        justify-content: center;

        @media (min-width: $break-point-small) {
            display: inline-flex;
        }
    }

    .phone-link {
        @extend %view-more-link;
        font-size: 32px;

        @media (min-width: $break-point-small) {
            display: none;
        }
    }

    .square-btn {
        width: 56px;
        margin-left: auto;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        @media (min-width: $break-point-medium) and (max-width: $break-point-large) {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    .mobile-search-bar {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        height: 47px;
        margin-block: 20px;

        @media (min-width: $break-point-small) {
            display: none;
        }

        .icon-search {
            padding: 11px;
            font-size: 20px;
        }

        input {
            @extend %header-search-box;
            background-color: rgba(0, 0, 0, .1);

            &:focus {
                outline: 0px;
            }
        }
    }

    .desktop-search-bar {
        display: none;

        @media (min-width: $break-point-small) and (max-width: $break-point-medium), (min-width: $break-point-large) {
            display: flex;
            align-items: center;
            justify-content: end;
            position: relative;
            height: 100%;
        }

        @media (min-width: $break-point-small) and (max-width: $break-point-medium) {
            width: 174px;
        }

        @media (min-width: $break-point-large) {
            width: 240px;
        }

        .icon-search {
            padding: 11px;
            font-size: 20px;
            background-color: gray;
        }

        input {
            @extend %header-search-box;
            border-right: none;

            &:focus-visible {
                border-color: #5bc0de;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
            }
        }
    }

    @include base-btn($color-base-dark, "menu") {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 56px;
        border-radius: 3px;
        cursor: pointer;
    }
}

// Stuff to do:
// update @import to @use and @forward
// update darken() function to updated functions
// Finish Hamburger menu
// Try to have one universal button mixin


// .menu-toggle {
//     width: 35px;
//     height: 30px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .bar {
//     height: 4px;
//     background-color: #fff;
//     border-radius: 2px;
//     transition: 0.3s;
// }

/* The magic happens here */
// .menu-toggle:active .bar:nth-child(1) {
//   transform: rotate(45deg) translate(5px, 5px);
// }

// .menu-toggle:active .bar:nth-child(2) {
//   opacity: 0;
// }

// .menu-toggle:active .bar:nth-child(3) {
//   transform: rotate(-45deg) translate(6px, -6px);
// }