@use "../utilities/index" as *;
@use "../modules/index" as *;
@use "sass:map";

.header {
    &-top {
        display: flex;
        align-items: center;
        height: 81px;
        
        @media (min-width: $break-point-small) {
            height: 110px;
        }

        img {
            display: block;
            width: 100%;
        }

        .search-items {
            display: flex;
            align-items: center;
            margin-left: auto;
            height: 56px;

            & > * {
                margin-left: 20px;
            }
        }
    }
}

.search-section {
    display: none;

    @media (min-width: $break-point-small) {
        display: flex;
        height: 100%;
    }
}

header {
    padding-inline: 15px;

    [class^="btn"] {
        display: none;
        @extend %btn-base;
        @extend %btn-header;
    }

    .btn {
        &-support {
            display: none;

            @media (min-width: $break-point-medium) {
                display: inline-flex;
            }
        }

        &-contact {
            display: none;

            @media (min-width: $break-point-medium) {
            display: inline-flex;
            }
        }

        &-search {
            display: none;
            justify-content: center;
            width: 56px;
            margin-left: auto;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

            @media (min-width: $break-point-small) {
                display: inline-flex;
            }

            @media (min-width: $break-point-medium) and (max-width: $break-point-large) {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }

        //hamburger menu button

        &-general {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 56px;
            border-radius: 3px;
            cursor: pointer;

            .bars {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                gap: 5px;

                .bar {
                    width: 100%;
                    height: 3px;
                    background: $color-light-text;
                    transition: transform 0.3s ease, opacity 0.3s ease;
                }

                // Animation for open state
            }
            
            .open {
            .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
                }
                .bar:nth-child(2) {
                opacity: 0;
                }
                .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }

    .phone-link {
        @extend %view-more-link;
        font-size: 32px;

        @media (min-width: $break-point-small) {
            display: none;
        }
    }

    .mobile-search-bar {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        height: 47px;
        margin-top: 20px;

        @media (min-width: $break-point-small) {
            display: none;
        }

        .icon-search {
            padding: 11px;
            font-size: 20px;
        }

        input {
            @extend %header-search-box;
            background-color: rgba(0, 0, 0, .1);

            &:focus {
                outline: 0px;
            }
        }
    }

    .desktop-search-bar {
        display: none;

        @media (min-width: $break-point-small) and (max-width: $break-point-medium), (min-width: $break-point-large) {
            display: flex;
            align-items: center;
            justify-content: end;
            position: relative;
            height: 100%;
        }

        @media (min-width: $break-point-small) and (max-width: $break-point-medium) {
            width: 174px;
        }

        @media (min-width: $break-point-large) {
            width: 240px;
        }

        .icon-search {
            padding: 11px;
            font-size: 20px;
            background-color: gray;
        }

        input {
            @extend %header-search-box;
            border-right: none;

            &:focus-visible {
                border-color: #5bc0de;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
            }
        }
    }
}

// accompanying css to add functionality to the sticky header

.sticky-header {
    transition: top 0.3s ease;
    position: sticky;
    top: -168px;
    padding-bottom: 20px;
    background-color: #fff;
    z-index: 2500;

    &.fixed {
        top: 0px;
        box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
    }

    @media (min-width: $break-point-small) {
        padding-bottom: 0px;
        top: -110px;
    }

    @media (min-width: $break-point-medium) {
        top: -213px;
    }
}