@use "../utilities/index" as *;
@use "../modules/index" as *;

// Base styles for whole nave section

nav {
    background-color: $color-base;
    color: $color-light-text
}

// Nav Bar

.nav {
    &-bar {
        display: none;

        @media (min-width: $break-point-medium) {
        display: flex;
        }

        .nav-category {
            flex: 1;
        }
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 18px;
        color: #fff;
        position: relative;

        .small {
            font-size: 0.625rem;
            margin-bottom: -5px;
        }

        span[class^="icon-"] {
            font-size: 23px;
            padding-bottom: 8px;
        }
    }
}

// Nav Dropdowns

.nav {
    &-dropdown {
        display: none;
        position: absolute;
        z-index: 10;
        width: 100%;
        left: 0;

        h2 {
            font-size: 2rem;
            margin-top: 0px;
        }

        .container {
            padding-block: 50px;
        }
    }

    &-link-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2rem;

        li {
            display: flex;
            align-items: center;
            padding: 12px 15px 12px 0px;

            a {
                margin-left: 10px;
            }
        }
    }

    &-category {
        &:hover .nav-dropdown, &:hover .triangle {
        display: block;
        }
    }

    &-bar {
        .triangle {
            display: none;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 35px 69px 0 69px;
            transform: rotate(0deg);
            position: absolute;
            bottom: -35px;
            z-index: 11;

            @media (min-width: $break-point-large) {
                border-width: 35px 85.5px 0 85.5px;
            }
        }
        .theme {
            @include nav-bar-theme($theme);
        }
    }
}

