nav {
    background-color: $color-base;
}

.nav {
    &-main {
        display: none;

        @media (min-width: $break-point-medium) {
        display: flex;
        }
    }

    &-category {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        color: #fff
    }
}