// Layout of service items

.services {
    &-item {
        .theme {
            @include service-tile-theme($theme);
        }

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 30px;
            text-decoration: none;
            text-align: center;
            color: $color-dark-text;
            border: #ccc solid 1px;
            border-radius: 15px;
            box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 400;
        }

        p{
            font-size: 0.8125rem;
        }

        [class^="icon-"] {
            font-size: 32px;
            color: $color-light-text;
            border-radius: 50%;
            height: 65px;
            width: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        transition: transform 0.5s ease;
        &:hover {
            transform: translateY(-10px);
        }
    }
}

// Layout of service section

.services {
    &-header {
        display: flex;
        align-items: center;

        h2 {
            font-size: 2.75rem;
        }
        
        a {
            display: none;
            @extend %view-more-link;

            @media (min-width: $break-point-small) {
                display: block;
                margin-left: auto;
                font-size: 2.25rem;
            }
        }
    }

    &-item {
        padding: 30px 15px 0px;
    }

    &-section { 
        &-primary{
            @media (min-width: $break-point-medium) {
                display: flex;

                .services-item {
                    flex: 1;
                }
            }
        }

        &-secondary {
            @media (min-width: $break-point-small) {
                display: flex;
                flex-wrap: wrap;

                .services-item {
                    flex: 50%;
                }
            }

            @media (min-width: $break-point-large) {
                .services-item {
                    flex: 25%;
                }
            }
        }
    }

    &-footer {
        a {
            display: block;
            width: max-content;
            margin: 50px auto 0;
            @extend %view-more-link;

            @media (min-width: $break-point-small) {
                display: none;
            }
        }
    }
}