.slider-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    overflow-x: clip;
}

@include better-base-btn();

.partner-logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin-inline: 50px;
    filter: grayscale(100%);

    h3, p {
        text-align: center;
    }

    h3 {
        font-size: 1.125rem;
        margin: 0px;
    }

    p {
        font-size: 0.8125rem;
        margin-block: 15px;
    }

    [class^="btn"] {
        @extend %read-more-btn;
        display: inline-flex;
        align-items: center;
    }
    
    .partner-info {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 280px;
        bottom: 200px;
        background: $color-base;
        color: $color-light-text;
        padding: 20px;
        z-index: 10;
    }

    img {
        max-height: 70px;   
    }

    .triangle {
        display: none;
        position: absolute;
        bottom: 160px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 40px 40px 0 40px;
        border-color: $color-base transparent transparent transparent;
        transform: rotate(0deg);
    }

    &:hover {
        filter: grayscale(0%)
    }

    &:hover .partner-info, &:hover .triangle {
        display: flex;
    }
}

// just so the tooltips align with eachother horizontally

.img-container {
    height: 70px;
    padding-block: 100px;
    display: flex;
    align-items: center;
}