.read-more-btn {
    display: inline-block;
    font-size: 1rem;
    padding: 5px 15px;
    color: $color-light-text;
    text-decoration: none;
    border-radius: 3px;
    line-height: 35px;
    text-transform: uppercase;
}