@mixin btn($color, $type) {
  .btn-#{$type} {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 25px;
    color: $color-light-text;
    text-decoration: none;
    border-radius: 3px;
    background-color: $color;
    line-height: 30px;
    margin: 10px 10px 0px 0px;
    text-transform: uppercase;
    @content;
  }  
}

