// BUTTONS

// Read More Button

%read-more-btn {
    display: inline-block;
    font-size: 1rem;
    padding: 5px 15px;
    color: $color-light-text;
    text-decoration: none;
    border-radius: 3px;
    line-height: 35px;
    text-transform: uppercase;
}

@mixin read-more-btn($theme) {
  @each $name, $color in $theme {
    &-#{$name} {
      @extend %read-more-btn;
      background-color: $color;
    }
  }  
}

// Icon Colour Themes

@mixin icon-colors($theme) {
  @each $name, $color in $theme {
    &-#{$name} {
      color: $color;
    }
  }  
}

// About Section Buttons

%about-btn {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    padding: 10px 25px;
    color: $color-light-text;
    text-decoration: none;
    border-radius: 3px;
}

@mixin about-btn($color, $type) {
  .btn-#{$type} {
    @extend %about-btn;
    background-color: $color;
    @content;
  }  
}

// Social Buttons

@mixin social-button($social, $color) {
    .icon-#{$social}:hover {
        background-color: $color;
    }
}

// View More Link (in services and article sections)

%view-more-link {
  color: $color-dark-text;
  text-decoration: none;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}