// BUTTONS

// Services Tiles Themes

@mixin service-tile-theme($theme) {
  @each $name, $color in $theme {
    &-#{$name} {
      @if $name == "yellow" {
        .theme {
          background-color: map-get($theme, "gray");
        }
        .theme-btn {
          background-color: $color;
        }
        &:hover {
          .theme, .theme-btn {
            background-color: #fff;
            color: map-get($theme, "gray");
          }
          background-color: map-get($theme, "gray");
          color: $color-light-text;
        }
      }
      @else {
        .theme, .theme-btn {
          background-color: $color;
        }
        &:hover {
          .theme, .theme-btn {
            background-color: #fff;
            color: $color;
          }
          background-color: $color;
          color: $color-light-text;
        }
      }
    }
  }
}

// News Tiles Themes
 
@mixin news-tile-theme($theme) {
  @each $name, $color in $theme {
    &-#{$name} {
      @if $name == "yellow" {
        .theme {
          background-color: map-get($theme, "gray");
        }
        .theme-btn {
          background-color: $color;
        }
        h3 {
          color: map-get($theme, "gray");
        }
      }
      @else {
        .theme, .theme-btn {
          background-color: $color;
        }
        h3 {
          color: $color;
        }
      }
    }
  }
}

// Nav Bar Colour Themes

@mixin nav-bar-theme($theme) {
  @each $name, $color in $theme {
    &-#{$name} {
      .theme {
        color: $color;
      }
      .nav-dropdown {
        background-color: darken($color, 10%);
      }
    }
  }  
}

// About Section Buttons

%about-btn {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    padding: 10px 25px;
    color: $color-light-text;
    text-decoration: none;
    border-radius: 3px;
}

@mixin about-btn($color, $type) {
  .btn-#{$type} {
    @extend %about-btn;
    background-color: $color;
    @content;
  }  
}

// Social Buttons

@mixin social-button($social, $color) {
    .icon-#{$social}:hover {
        background-color: $color;
    }
}

// View More Link (in services and article sections)

%view-more-link {
  color: $color-dark-text;
  text-decoration: none;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}